# Too Good To Go Account Email
TGTG_EMAIL=your_email@example.com

# Credentials will be populated automatically when running auth
TGTG_ACCESS_TOKEN=
TGTG_REFRESH_TOKEN=
TGTG_USER_ID=
TGTG_COOKIE=

# Notification options (optional)
# TELEGRAM_BOT_TOKEN=
# TELEGRAM_CHAT_ID=
